.advantages {
  margin-bottom: 149px;
  padding-top: 150px;

  @media (max-width: $desktop-width) {
    margin-bottom: 66px;
    padding-top: 69px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 81px;
    padding-top: 72px;
  }
}

.advantages h2 {
  margin: 0 auto 50px 14px;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  text-align: center;
  color: $gray-light;

  @media (max-width: $desktop-width) {
    margin: 0 auto 31px;
    font-size: 24px;
    line-height: 41px;
  }
}

.advantages__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 38px;
  counter-reset: advantages-list;
  min-width: 1166px;
  margin: 0 auto 0 -66px;
  padding: 0;
  list-style: none;

  @media (max-width: $desktop-max) {
    gap: 5px;
    min-width: 1000px;
    margin: 0 auto;
  }

  @media (max-width: $desktop-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 42px;
    min-width: 556px;
    margin: 0 auto;
    padding: 0 106px;
  }

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr;
    gap: 34px;
    min-width: 263px;
    max-width: 263px;
    padding: 0;
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin: 0;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -0.5px;
  text-align: center;

  &::before {
    counter-increment: advantages-list;
    content: "0" counter(advantages-list);
    color: $green;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -1.27273px;
    text-align: center;
  }

  @media (max-width: $tablet-width) {
    font-size: 18px;
  }
}
