.footer-main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.footer-main__address {
  margin-bottom: 41px;

  @media (max-width: $tablet-width) {
    margin-bottom: 24px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 18px;
  }
}

.footer-main__address h2 {
  margin: 0 11px 29px 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  text-align: center;
  color: $gray-light;

  @media (max-width: $tablet-width) {
    margin-right: 0;
    margin-bottom: 18px;
    font-size: 24px;
    line-height: 30px;
  }

  @media (max-width: $mobile-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.footer-main__address p {
  margin: 0;
  padding: 0 440px 0 425px;
  font-weight: normal;
  font-size: 17px;
  line-height: 31px;
  text-align: center;
  color: $gray-darkest;

  @media (max-width: $tablet-width) {
    padding: 0 69px;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
    margin: 0 auto;
    padding: 0 15px 0 17px;
  }
}

.footer-main__map {
  margin: 0 auto;
  margin-bottom: 29px;

  @media (max-width: $tablet-width) {
    margin-bottom: 8px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 19px;
  }
}

.footer-main__thumbnail {
  @media (max-width: $tablet-width) {
    width: 698px;
    height: 545px;
    object-fit: cover;
  }

  @media (max-width: $mobile-width) {
    width: 320px;
    height: 250px;
  }
}

.footer-main__contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 558px;
  margin: 0 auto 97px;

  @media (max-width: $tablet-width) {
    margin-bottom: 44px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    gap: 7px;
    margin-bottom: 31px;
    align-items: center;
  }
}

.footer-main__email,
.footer-main__phone {
  padding: 8px 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $gray-dark;
}

.footer-main__email {
  position: relative;
  margin-right: 90px;

  &::before {
    content: "";
    width: 26px;
    height: 20px;
    padding-left: 40px;
    background-image: url("../img/icon-5.svg");
    background-repeat: no-repeat;
  }

  @media (max-width: $mobile-width) {
    margin-right: 0;
  }
}

.footer-main__phone {
  position: relative;

  &::before {
    content: "";
    width: 22px;
    height: 23px;
    padding-left: 53px;
    background-image: url("../img/icon-6.svg");
    background-repeat: no-repeat;
  }

  @media (max-width: $mobile-width) {
    &::before {
      padding-left: 40px;
    }
  }
}
