.form-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
  width: 327px;

  @media (max-width: $tablet-width) {
    width: auto;
  }
}

.form-main p {
  margin: 0;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.005em;
  text-align: center;
  color: $basic-white;

  @media (max-width: $tablet-width) {
    margin-bottom: 11px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 18px;
    color: $basic-black;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.form-main button,
.form-main input {
  width: 327px;
  height: 48px;
  padding: 5px 30px;
  background: $basic-white;
  border: 1px solid $gray-lightest;
  border-radius: 4px;

  @media (max-width: $tablet-width) {
    margin: 0 auto;
    border: 1px solid $gray-lightest;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
  }
}

.form-main input[type="search"] {
  font-size: 15px;
  line-height: 24px;
  color: $gray-darker;
  opacity: 0.5;
}

.form-main button {
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  background: $green;
  border-radius: 6px;
}
