.information-video {
  position: relative;
  margin-bottom: 248px;

  &::before {
    content: "";
    position: absolute;
    top: 72.5%;
    left: 48.6%;
    z-index: 1;
    width: 65px;
    height: 65px;
    background-image: url("../img/icon-4.svg");
    background-repeat: no-repeat;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 156px;

    &::before {
      top: 75.6%;
      left: 43.7%;
      width: 90px;
      height: 90px;
      background-image: url("../img/icon-9.svg");
    }
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 121px;

    &::before {
      top: 82.5%;
      left: 39.6%;
      width: 65px;
      height: 65px;
      background-image: url("../img/icon-4.svg");
    }
  }
}

.information-video__wrapper {
  height: 707px;
  background-color: $background-gray-dark;

  @media (max-width: $tablet-width) {
    height: 413px;
  }

  @media (max-width: $mobile-width) {
    height: 384px;
  }
}

.information-video__wrapper h2 {
  margin: 0 0 19px -12px;
  padding-top: 120px;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  text-align: center;
  color: $basic-white;

  @media (max-width: $tablet-width) {
    padding-top: 70px;
    font-size: 24px;
    line-height: 30px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 84px;
  }
}

.information-video__wrapper p {
  margin: 0;
  padding: 0 550px;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.005em;
  text-align: center;
  color: $basic-white;
  opacity: 0.7;

  @media (max-width: $tablet-width) {
    padding: 0 170px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 16px;
  }
}

.information-video__thumbnail {
  position: absolute;
  top: 54%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: $gray-darkest;

  @media (max-width: $tablet-width) {
    top: 73%;
    width: 503px;
    height: 282px;
  }

  @media (max-width: $mobile-width) {
    top: 83%;
    width: 288px;
    height: 162px;
  }
}
