.menu-nav {
  position: relative;
  margin-bottom: 261px;
  padding: 0 284px;

  @media (max-width: $desktop-width) {
    margin: 0 0 37px 0;
    padding: 0;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 24px;
  }
}

.menu-nav__logo {
  position: absolute;
  top: 318px;

  @media (max-width: $desktop-width) {
    top: 0;
    margin-top: 10px;
    margin-left: 22px;
    padding: 14px 0 6px;
  }

  @media (max-width: $tablet-width) {
    margin-left: 19px;
  }
}

.menu-nav__toggle {
  display: none;

  @media (max-width: $desktop-width) {
    display: flex;
    position: relative;
    top: 0;
    right: 0;
    z-index: 2;
    width: 50px;
    min-height: 50px;
    margin-left: auto;
    background-color: $green;
    border: 0;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 28%;
      right: 18%;
      width: 23px;
      height: 1px;
      background-color: $basic-white;
      background-position: 50% 50%;
      box-shadow: 0 8px 0 0 $basic-white, 0 16px 0 0 $basic-white;
    }
  }
}

.menu-nav__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid $gray-lighter;

  @media (max-width: $desktop-width) {
    display: none;
  }
}

.menu-nav__item {
  margin-top: 10px;
  padding: 10px 20px;

  @media (max-width: $desktop-width) {
    position: relative;
    width: 100%;
    margin-left: 0;
    margin-bottom: 18px;
    padding: 17px 16px;
    background: $menu-background-gray;

    &::before {
      position: absolute;
      content: "";
      top: 38%;
      right: 5%;
      width: 18px;
      height: 18px;
      background-repeat: no-repeat;
      background-image: url("../img/icon-down-arrow.svg");
    }
  }
}

.menu-nav__item:last-child {
  margin-bottom: 0;
}


.menu-nav__item a {
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.005em;
  color: $basic-white;
  opacity: 0.7;

  &:hover {
    opacity: 0.5;
  }

  &:focus,
  &:active {
    opacity: 1;
  }

  @media (max-width: $desktop-width) {
    font-size: 20px;
    line-height: 28px;
    color: $menu-gray;
  }
}

.menu-nav--opened .menu-nav__toggle {
  position: fixed;
  background-color: $basic-white;
  z-index: 3;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 46%;
    left: 27%;
    width: 25px;
    height: 2px;
    background-color: $gray;
    background-position: 50% 50%;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.menu-nav--opened .menu-nav__list {
  @media (max-width: $desktop-width) {
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background-color: $basic-white;
    padding: 89px 0 135px;
  }
}

.menu-nav--opened {
  @media (max-width: $desktop-width) {
    background-color: $basic-white;
  }
}

.menu-nav--opened .menu-nav__logo {
  z-index: -1;
}

.no-js {
  @media (max-width: $desktop-width) {
    background-color: $basic-white;
  }
}

.no-js .menu-nav__logo {
  @media (max-width: $desktop-width) {
    position: absolute;
    top: -34px;
  }

  @media (max-width: $tablet-width) {
    top: -35px;
  }
}

.no-js .menu-nav__toggle {
  @media (max-width: $desktop-width) {
    display: none;
  }
}

.no-js .menu-nav__list {
  @media (max-width: $desktop-width) {
    top: -603px;
    display: flex;
    position: absolute;
    z-index: 2;
    width: 100%;
    padding: 89px 0 135px;
  }
}

.no-js .menu-nav__item {
  @media (max-width: $desktop-width) {
    display: flex;
  }
}

.no-js .page-header__wrapper {
  @media (max-width: $desktop-width) {
    position: static;
    margin-top: 603px;

    &::before {
      top: 567px;
    }
  }
}

.no-js .page-header__title {
  @media (max-width: $desktop-width) {
    margin-top: 48px;
  }

  @media (max-width: $tablet-width) {
    margin-top: 39px;
  }
}
