.options {
  margin: 0 auto;
  padding-bottom: 149px;
  background-color: $background-gray;

  @media (max-width: $desktop-width) {
    padding-bottom: 71px;
  }

  @media (max-width: $tablet-width) {
    padding-bottom: 52px;
  }
}

.options h2 {
  margin: 0;
  margin-bottom: 60px;
  padding-top: 150px;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: $gray-light;
  text-align: center;

  @media (max-width: $desktop-width) {
    margin-bottom: 29px;
    padding-top: 50px;
    font-size: 24px;
    line-height: 41px;
  }
}

.options__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 1222px;
  margin: 0 auto;
  padding: 0;

  @media (max-width: $desktop-width) {
    align-items: baseline;
    justify-content: center;
    max-width: 638px;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    padding: 0 25px;
  }
}

.options__item {
  display: grid;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  margin-right: 49px;
  margin-bottom: 49px;

  @media (max-width: $desktop-width) {
    gap: 18px;
    margin-right: 43px;
  }

  @media (max-width: $tablet-width) {
    margin: 0 auto 43px;
  }
}

.options__item:nth-child(2n) {
  margin-top: 30px;

  @media (max-width: $desktop-width) {
    margin-top: 0;
  }
}

.options__item:nth-child(3n) {
  margin: 0;
  margin-right: 0;
  margin-top: -8px;

  @media (max-width: $desktop-width) {
    margin: 0 auto;
    margin-top: -1px;
  }
}

.options__item--a {
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 28%;
    left: -17.5%;
    z-index: -1;
    width: 180px;
    height: 180px;
    background-image: url("../img/icon-1.svg");
    background-repeat: no-repeat;
  }

  @media (max-width: $desktop-width) {
    &::before {
      top: 57%;
      left: -14%;
      z-index: -1;
      width: 127px;
      height: 127px;
      background-image: url("../img/icon-7.svg");
      background-repeat: no-repeat;
    }
  }

  @media (max-width: $tablet-width) {
    &::before {
      left: -9%;
    }
  }
}

.options__item--b {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -3%;
    left: -5.5%;
    width: 47px;
    height: 47px;
    background-image: url("../img/icon-2.svg");
    background-repeat: no-repeat;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 5%;
    right: -7%;
    width: 47px;
    height: 47px;
    background-image: url("../img/icon-2.svg");
    background-repeat: no-repeat;
  }

  @media (max-width: $desktop-width) {
    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }
}

.options__item--c {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -6%;
    right: -10.5%;
    width: 95px;
    height: 95px;
    background-image: url("../img/icon-3.svg");
    background-repeat: no-repeat;
    z-index: 1;
  }

  @media (max-width: $desktop-width) {
    margin: 0 auto;

    &::before {
      top: -5%;
      right: -9%;
      width: 68px;
      height: 68px;
      background-image: url("../img/icon-8.svg");
      background-repeat: no-repeat;
    }
  }

  @media (max-width: $tablet-width) {
    &::before {
      right: -5.5%;
    }
  }
}

.options__thumbnail {
  z-index: 0;
  object-fit: cover;
  border-radius: 10px;

  @media (max-width: $desktop-width) {
    width: 270px;
    height: 300px;
  }
}

.options__item a {
  padding: 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  letter-spacing: -0.5px;
  list-style: none;

  &:active {
    border-bottom: 2px solid $green;
  }
}
