.page-header {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-image: url("../img/photo-1-desktop@1x.jpg");
  background-color: $gray-darker;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/photo-1-desktop@2x.jpg");
  }

  @media (max-width: $desktop-width) {
    max-height: 340px;
    background-image: url("../img/photo-1-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/photo-1-tablet@2x.jpg");
    }
  }

  @media (max-width: $tablet-width) {
    max-height: 390px;
    background-image: url("../img/photo-1-mobile@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/photo-1-mobile@2x.jpg");
    }
  }
}

.page-header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 880px;
  margin: 0 auto 0 279px;
  padding-bottom: 239px;

  @media (max-width: $desktop-width) {
    flex-direction: column;
    gap: 150px;
    max-width: 440px;
    margin: 0 auto;
  }

  @media (max-width: $tablet-width) {
    gap: 140px;
    padding: 0 16px 0 15px;
  }
}

.page-header__title {
  display: flex;
  flex-direction: column;
  max-width: 381px;

  @media (max-width: $desktop-width) {
    margin: 0 auto;
  }

  @media (max-width: $tablet-width) {
    max-width: 288px;
  }
}

.page-header__title h1 {
  margin: 47px 0 23px;
  font-weight: bold;
  font-size: 46px;
  line-height: 64px;
  letter-spacing: -0.005px;
  text-align: left;
  color: $basic-white;

  @media (max-width: $desktop-width) {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
  }
}

.page-header__title p {
  margin: 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.005px;
  text-align: left;
  color: $basic-white;
  opacity: 0.8;

  @media (max-width: $desktop-width) {
    font-size: 18px;
    line-height: 32px;
    text-align: center;
  }
}

.page-header form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
  width: 327px;

  @media (max-width: $desktop-width) {
    width: auto;
  }

  @media (max-width: $tablet-width) {
    gap: 19px;
  }
}

.page-header form p {
  margin: 0;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.005em;
  text-align: center;
  color: $basic-white;

  @media (max-width: $desktop-width) {
    margin-bottom: 11px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 18px;
    color: $basic-black;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.page-header form button,
.page-header form input {
  width: 327px;
  min-height: 49px;
  padding: 5px 30px;
  background: $basic-white;
  border: 1px solid $gray-lightest;
  border-radius: 4px;

  @media (max-width: $desktop-width) {
    margin: 0 auto;
    border: 1px solid $gray-lightest;
  }

  @media (max-width: $tablet-width) {
    width: 288px;
  }
}

.page-header input {
  &:valid {
    border-color: $green;
  }
}

.page-header form button {
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  background: $green;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    background-color: $hover-green;
  }

  &:focus,
  &:active {
    color: $basic-white;
  }
}
