.page-header {
  width: 100%;
  margin-bottom: 150px;
  // max-height: 825px;
  background-repeat: no-repeat;
  background-image: url("../img/photo-1-desktop@1x.jpg");
  background-color: $grey-darker;

  @media (max-width: $tablet-width) {
    max-height: 340px;
    margin-bottom: 413px;
    background-image: url("../img/photo-1-tablet@1x.jpg");
  }

  @media (max-width: $mobile-width) {
    max-height: 390px;
    margin-bottom: 431px;
    background-image: url("../img/photo-1-mobile@1x.jpg");
  }
}


