// SIZES
$desktop-width: 1166px;
$tablet-width: 768px;
$mobile-width: 320px;



// COLORS
$basic-white: #FFFFFF;
$basic-black: #000000;
$green: #0AD9C6;
$grey-light: #1F1F1F;
$grey-darker: #1C1C1C;
$grey-darkest: rgba(0, 0, 0, 0.7);
$grey-dark: rgba(0, 0, 0, 0.5);

$background-grey: #F6F7F9;
$background-grey-dark:#131314;
$background-grey-light: #E5E5E5;