// SIZES
$desktop-max: 1224px;
$desktop-width-max: 1166px;
$desktop-width: 1023px;
$tablet-width: 767px;
$mobile-width: 320px;

// COLORS
$basic-white: rgb(255, 255, 255);
$basic-black: rgb(0, 0, 0);
$green: rgb(10, 217, 198);
$hover-green: rgb(6, 156, 141);
$gray-lightest:rgb(201, 204, 212);
$gray-lighter: rgba(255, 255, 255, 0.2);
$gray-light: rgb(31, 31, 31);
$gray:  rgba(20, 21, 23, 0.2);
$gray-darker: rgb(28, 28, 28);
$gray-darkest: rgba(0, 0, 0, 0.7);
$gray-dark: rgba(0, 0, 0, 0.5);
$menu-gray: rgb(72, 73, 77);
$menu-background-gray: rgb(246, 246, 246);

$background-gray: rgb(246, 247, 249);
$background-gray-dark:rgb(19, 19, 20);
$background-gray-light: rgb(229, 229, 229);
$error: rgb(255, 0, 0);
