// SIZES
$desktop-width: 1440px;
$tablet-width: 768px;
$mobile-width: 320px;



// COLORS
$basic-white: #FFFFFF;
$basic-black: #000000;
$green: #0AD9C6;
$grey-lightest:#C9CCD4;
$grey-lighter: rgba(255, 255, 255, 0.2);
$grey-light: #1F1F1F;
$grey:  rgba(20, 21, 23, 0.2);
$grey-darker: #1C1C1C;
$grey-darkest: rgba(0, 0, 0, 0.7);
$grey-dark: rgba(0, 0, 0, 0.5);
$menu-grey: #48494D;
$menu-background-grey: #F6F6F6;

$background-grey: #F6F7F9;
$background-grey-dark:#131314;
$background-grey-light: #E5E5E5;
